<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
    </c-header-nav>
    <c-header-nav class="ms-auto">
      <ng-container *ngTemplateOutlet="userDropdownNotif"></ng-container>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdownNotif>
  <c-dropdown autoClose="outside" alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="position-relative py-0">
      <a style="margin: 5px;">
        <svg cIcon name="cilBell" size="lg" [ngClass]="{'bell': rotateAnimation}"></svg>
      </a>
      <c-badge color="danger" position="top-end" shape="rounded-pill">{{total==0 ? '': total}}</c-badge>
    </button>
    <ul cDropdownMenu [ngStyle]="{'min-width.px': 400 }" class="pt-0 pr-5 w-auto">
      <c-containet style="display: flex; background-color: #EBEDEF;">
        <c-row >
          <c-col md="10">
            <h6 cDropdownHeader class="bg-light fw-semibold py-2">Notificaciones</h6>
          </c-col>
          <c-col md="1">
            <c-dropdown direction="dropstart" variant="btn-group">
              <button style="margin-left: 100px; " color="" [caret]="false" cButton cDropdownToggle>
                <a>
                  <svg cIcon name="cilOptions" size="lg"></svg>
                </a>
              </button>
              <ul cDropdownMenu>
                <li><button cDropdownItem><svg cIcon name="cilCheck" size="md" style="margin-right: 10px;"></svg>Marcar
                    todas como leídas</button></li>
              </ul>
            </c-dropdown>
          </c-col>
        </c-row>
      </c-containet>


      <div id="container" class="rounded" infiniteScroll [infiniteScrollDistance]=".5" [infiniteScrollThrottle]="150"
        (scrolled)="onScroll()" [scrollWindow]="false">
        <div class="content " *ngIf="notifiData.length > 0 ">
          <li *ngFor="let item of notifiData | paginate:{itemsPerPage: tableSize,
            currentPage: page,
            totalItems : count,
            id: 'paginado'
            } ">
            <a>
              
              <i class="fa fa-list-alt"  aria-hidden="true" style="color: blue;margin-right: 3px;"></i>
                <span class="userB">{{item.user}} </span><span class="dateB">a publicado un blog.
                  <span>{{item.date}}:</span></span><span class="titleB"> "{{item.blogtitulo | slice:0:45 }}
                  {{item.blogtitulo.length > 45? '...':''}}"</span><br>
                <span class="perfilB"> Asambleista: <span style="font-size: 13px; font-weight: normal !important;">
                    {{item.perfil}}</span></span> <span class="time">Hace 20 segundos</span>
            </a>
          </li>
          <p *ngIf="notifiData.length >=  tableSize" cPlaceholderAnimation="glow">
            <span   cBgColor="dark" style="width: 40%; margin-left: 3%;" cPlaceholder></span>
            <span cBgColor="secondary" style="width: 50%; margin-left: 3%;" cPlaceholder></span>
            <span cBgColor="secondary" style="width: 50%; margin-left: 3%;" cPlaceholder></span>
            <span cBgColor="secondary" style="width: 40%; margin-left: 3%;" cPlaceholder></span><br>
            <span  style="width: 20%; margin-left: 3%;" cPlaceholder></span>
            <span cBgColor="secondary" style="width: 10%; margin-left: 3%;" cPlaceholder></span><br>
            <span cBgColor="primary" style="width: 10%; margin-left: 3%;" cPlaceholder></span>
          </p>
        </div>
      </div>
      <ng-container *ngIf="notifiData.length == 0">
        <li>
          <a cDropdownItem>
            <svg cIcon class="me-2" name="cilBell"></svg>
            <span>No hay notificaciones</span> <br>
          </a>
        </li>
      </ng-container>
    </ul>

  </c-dropdown>
</ng-template>

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md" [src]='thumbnail' status="success">
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Tasks
          <c-badge class="ms-2 float-end" color="danger">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name='cilCommentSquare'></svg>
          Comments
          <c-badge class="ms-auto" color="warning">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./profile/config" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          {{childMessage}}
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilCreditCard"></svg>
          Payments
          <c-badge class="ms-2 float-end" color="secondary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilFile"></svg>
          Projects
          <c-badge class="ms-2 float-end" color="primary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a (click)="salir()" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Lock Account
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>