<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">REVOLUCIÓN CIUDADANA</ion-title>
    <ion-buttons [routerLink]="['/']" slot="end" >
      <ion-icon class="iconBack"  name="arrow-back"></ion-icon>
    </ion-buttons>
    <!--ion-img src="../../assets/imgs/logo_rc_200px.png" style="height: auto; max-width: 17vh; float: right;"></!--ion-img!-->
  </ion-toolbar>
</ion-header>

<!--ion-content>
  <div>
    <p class="title2"> ÚLTIMAS NOTICIAS </p>
    <div class="linea"></div>
  </div>
  <div  class="ion-padding-start" id="home-hot-news">
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4 >When oil became waste: a week of turmoil for crude, and more pain to come
            - Reuters</h4>
          <ion-text  class="md hydrated">By David Gaffen</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>

      
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Where abandoned airplanes sit on Death Row</h4>
          <ion-text  class="md hydrated">By Miquel Ros, CNN</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Coronavirus: Spain's children run free from lockdown - but not all</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Victoria's Secret shifts image with new faces for Asia</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Coronavirus recovery plan 'must tackle climate change</h4>
          <ion-text  class="md hydrated">By BBC environment analyst</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>The truth about eating eggs</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>What eating a big meal does to your body</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Why you shouldn't trust your food cravings</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
      <ion-item  class="ion-no-padding item md in-list ion-focusable item-label hydrated">
        <ion-label  class="ion-text-wrap sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h4>Is juicing actually good for you?</h4>
          <ion-text  class="md hydrated">By BBC News</ion-text>
        </ion-label>
        <ion-thumbnail  slot="end" class="md hydrated"><img 
            style="vertical-align: middle;" src=""></ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>
</ion-content-->

<ion-content>
  <div>
    <p class="title2"> ÚLTIMAS NOTICIAS </p>
    <div class="linea"></div>
  </div>
</ion-content>
