<ion-tabs>
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar class="tolbar1">
      <div class="header-content">
        <img src="../../assets/imgs/logo_arriba.svg" alt="">
      </div>
    </ion-toolbar>
    <div class="contenedor-superpuesto">
      <ion-toolbar  class="tolbar2">
        <ion-tab-bar >
          <ion-tab-button tab="asambleistas">
            <ion-icon name="person"></ion-icon>
            <ion-label class="tab">Principales</ion-label>
          </ion-tab-button>
    
    
          <ion-tab-button tab="ambitoTerritorial">
            <ion-icon name="earth-outline"></ion-icon>
            <ion-label class="tab">Ambito Territorial</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-toolbar>
    </div>
  </ion-header>
  <div class="container">
    <div (click)="abrirMenu()" class="left-square square">
      <i class="fas fa-list" style="font-size: 30px;color:#003365"></i>
    </div>
    <div (click)="navigateToInicioV2()" class="circle">
      <i class="fas fa-home" style="font-size: 50px;color:#003365"></i>
    </div>
    <div (click)="navigateToInicioV2()" class="right-square square">
      <i class="fas fa-reply" style="font-size: 30px;color:#003365"></i>
    </div>
    <img class="footer-img" src="../../assets/imgs/footer_curve.png" alt="">
  </div>
</ion-tabs>

