<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">AGENDAS</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!--ion-img src="../../assets/imgs/logo_rc_200px.png" style="height: auto; max-width: 17vh; float: right;"></!--ion-img!-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Refrescar"
      refreshingSpinner="circles">
    </ion-refresher-content> 
  </ion-refresher>
  <div *ngIf="blogAgenda.length>0 ;else sinRegistro">
    <p class="title2"> {{fechaNow}} </p>
    <div class="linea"></div>
    <ion-card *ngFor="let item of blogAgenda.slice(0,limNext);let index = index" (click)="goBlog(item.id)">
      <ion-card-header>
        <div class="container">
          <a class="users">
            <div class="container-username">
              <span class="header-username"> {{item.name}} </span>
              <span class="cargoAsambl">{{item.jurisdiction}}</span>
            </div>
          </a>
        </div>
        <ion-card-title class="titleCard">
          {{item.blogtitulo}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="contentCard">
        {{item.blogdescripcion}}
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #sinRegistro>
    <ion-card>
      <p class="sinRegis">Sin registros</p>
    </ion-card>
  </ng-template>
</ion-content>