.ng-autocomplete {
    width: 100%;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cui-input-color, rgba(44, 56, 74, 0.95));
    background-color: var(--cui-input-bg, #fff);
    background-clip: padding-box;
    border: 1px solid var(--cui-input-border-color, #b1b7c1);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
    padding: 0.5rem 1rem;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
    border: 0;
}