<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">REVOLUCIÓN CIUDADANA</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment style="background-color: #3880ff;" value="segment1" [scrollable]="true" [(ngModel)]="segment"
    (ionChange)="segmentChanged()">
    <ion-segment-button value="segment1"><ion-label>ÚLTIMAS NOTICIAS</ion-label></ion-segment-button>
    <ion-segment-button value="segment2"><ion-label>RC5 EDITORIAL</ion-label></ion-segment-button>
    <ion-segment-button value="segment3"><ion-label>LO MÁS LEÍDO</ion-label></ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-slides #mySlider (ionSlideDidChange)="slideChanged()">
    <ion-slide >
      <div>
        <p class="title2"> ÚLTIMAS NOTICIAS </p>
        <div class="linea"></div>

        <ion-card [routerLink]="['../inf-ultimas']">
          <img src="../../../assets/imgs/back_02_home_rc.jpg" />
          <ion-card-header>
            <div class="container">
              <a class="users">
                <!--img src="../../../assets/imgs/luisa-magdalena-gonzalez-alcivar-768x506.jpg" class="image--cover img-responsive"-->
                <div class="container-username">
                  <span class="header-username"> Luisa Gonzáles</span>
                  <span class="cargoAsambl">Docente</span>
                </div>
              </a>
            </div>
            <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
              RC5</ion-card-title>
          </ion-card-header>

          <ion-card-content class="contentCard">
            La campaña sucia que lleva la derecha contra Revolución Ciudadana 5 (RC5); busca pulverizar moralmente a
            algunos liderazgos que no han podido neutralizar mediante el lawfare.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="../../../assets/imgs/back_04_home_rc.png" />
          <ion-card-header>
            <div class="container">
              <a href="#" class="users">
                <!--img src="../../../assets/imgs/luisa-magdalena-gonzalez-alcivar-768x506.jpg" class="image--cover img-responsive"-->
                <div class="container-username">
                  <span class="header-username"> Luisa Gonzáles</span>
                  <span class="cargoAsambl">Docente</span>
                </div>
              </a>
            </div>
            <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
              RC5</ion-card-title>
          </ion-card-header>

          <ion-card-content class="contentCard">
            La campaña sucia que lleva la derecha contra Revolución Ciudadana 5 (RC5); busca pulverizar moralmente a
            algunos liderazgos que no han podido neutralizar mediante el lawfare.
          </ion-card-content>
          <ion-item style="--ion-background-color: rgb(224, 224, 224);">
            <ion-icon class="iconLoad" name="download-outline" slot="start"></ion-icon>
            <span class="fechaCard">Documento para descargar</span>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div>

        <p class="title2"> EDITORIAL RC5 </p>
        <div class="linea"></div>


        <ion-card [routerLink]="['../inf-ultimas']">
          <img src="../../../assets/imgs/back_02_home_rc.jpg" />
          <ion-card-header>
            <div class="container">
              <a class="users">
                <!--img src="../../../assets/imgs/luisa-magdalena-gonzalez-alcivar-768x506.jpg" class="image--cover img-responsive"-->
                <div class="container-username">
                  <span class="header-username"> Luisa Gonzáles</span>
                  <span class="cargoAsambl">Docente</span>
                </div>
              </a>
            </div>
            <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
              RC5</ion-card-title>
          </ion-card-header>

          <ion-card-content class="contentCard">
            La campaña sucia que lleva la derecha contra Revolución Ciudadana 5 (RC5); busca pulverizar moralmente a
            algunos liderazgos que no han podido neutralizar mediante el lawfare.
          </ion-card-content>
        </ion-card>
        <div style="background-color: #f9f9f9;">
          <div style="margin-top: 30px; " class="lineaSepardor"></div>
        </div>


        <p style="margin-top: 30px;" class="title2"> EDITORIAL RC5 </p>
        <div class="linea"></div>
        <ion-card>
          <img src="../../../assets/imgs/back_04_home_rc.png" />
          <ion-card-header>
            <div class="container">
              <a class="users">
                <!--img src="../../../assets/imgs/luisa-magdalena-gonzalez-alcivar-768x506.jpg" class="image--cover img-responsive"-->
                <div class="container-username">
                  <span class="header-username"> Luisa Gonzáles</span>
                  <span class="cargoAsambl">Docente</span>
                </div>
              </a>
            </div>
            <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
              RC5</ion-card-title>
          </ion-card-header>

          <ion-card-content class="contentCard">
            La campaña sucia que lleva la derecha contra Revolución Ciudadana 5 (RC5); busca pulverizar moralmente a
            algunos liderazgos que no han podido neutralizar mediante el lawfare.
          </ion-card-content>
          <ion-item style="--ion-background-color: rgb(224, 224, 224);">
            <ion-icon class="iconLoad" name="download-outline" slot="start"></ion-icon>
            <span class="fechaCard">Documento para descargar</span>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div>

        <p class="title2"> EDITORIAL RC5 </p>
        <div class="linea"></div>


        <ion-card [routerLink]="['../inf-ultimas']">
          <ion-card-header>
            <div class="container">
              <a class="users">
                <!--img src="../../../assets/imgs/luisa-magdalena-gonzalez-alcivar-768x506.jpg" class="image--cover img-responsive"-->
                <div class="container-username">
                  <span class="header-username"> Luisa Gonzáles</span>
                  <span class="cargoAsambl">Docente</span>
                </div>
              </a>
            </div>
            <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
              RC5</ion-card-title>
          </ion-card-header>

          <ion-card-content class="contentCard">
            La campaña sucia que lleva la derecha contra Revolución Ciudadana 5 (RC5); busca pulverizar moralmente a
            algunos liderazgos que no han podido neutralizar mediante el lawfare.
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>