<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Refrescar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <p class="title2"> ÚLTIMAS NOTICIAS </p>
    <div class="linea"></div>

    <ion-card *ngFor="let item of blogUlti" [routerLink]="['../inf-ultimas']">
      <img src="{{item.imagen.changingThisBreaksApplicationSecurity}}" />
      <ion-card-header>
        <div class="container">
          <a class="users">
            <div class="container-username">
              <span class="header-username">{{item.name}}</span>
              <span class="cargoAsambl">{{item.jurisdiction}}</span>
            </div>
          </a>
        </div>
        <ion-card-title class="titleCard"> {{item.blogtitulo}} </ion-card-title>
      </ion-card-header>

      <ion-card-content class="contentCard">
        {{item.blogdescripcion}}
      </ion-card-content>
    </ion-card>
  </div>
  <div style="text-align: right; margin-right: 2%;">
    <ion-button style="font-size: 15px;" size="default">
      SIGUIENTE
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-button>
  </div>
  <div>
    <ion-card-content class="content">
      <form action="">
        <ion-input style="background-color: white; margin-top: 4%;  margin-bottom: 4%;"
          placeholder=" Buscar palabra clave"></ion-input>
      </form>
      <ion-datetime-button  datetime="datetime"></ion-datetime-button>
      <ion-button expand="full" size="small">
        BUSCAR
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="month-year" [isDateEnabled]="isWeekday" id="datetime" min="2023-04"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </div>
</ion-content>