<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="tolbar1">
    <div class="header-content">
      <img src="../../assets/imgs/logo_arriba.svg" alt="">
    </div>
  </ion-toolbar>

  <div class="contenedor-superpuesto">
    <ion-toolbar class="tolbar2">
      <div class="cuadrado-con-texto nameAssam">
        <p>{{lastName}} <br>
          {{firstName}}</p>
      </div>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <!-- <div class="content-img">
    <div class="profile-img">
      <img class="tamanio" [src]="urlGet" alt="" />
    </div>
  </div> -->
  <!-- <img class="tamanio" [src]="urlGet" alt="" /> -->
  <!-- <div class="nameAssam">
    <p>{{lastName}} <br>
      {{firstName}}</p>
  </div> -->

  <ion-segment  value="algo">
    <ion-segment-button value="algo" (click)="this.algo = true; this.contacto = false; this.comisiones = false">
      <ion-label>Información</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="this.algo = false; this.contacto = true; this.comisiones = false" value="contactos">
      <ion-label>Contactos</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="this.algo = false; this.contacto = false; this.comisiones = true" value="comisiones">
      <ion-label>Comisiones</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ng-container *ngIf="algo">
      <ion-list>
        <ion-item detail="false">
          <ion-label>
            <h3>Ambito Territorial:</h3>
            <p>{{ambito}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Partido Político:</h3>
            <p>{{partido}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Número de Curul:</h3>
            <p>{{curul}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="contacto">
      <ion-list>
        <ion-item detail="false">
          <ion-label>
            <h3>Edificio:</h3>
            <p>{{edifice}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Piso:</h3>
            <p>{{floor}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Oficinas:</h3>
            <p>{{office}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Numero Convencional (Extensión):</h3>
            <p>{{phone}}</p>
          </ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-label>
            <h3>Correo Electrónico:</h3>
            <p>{{email}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="comisiones">
      <ion-list>
        <ion-item detail="false" *ngFor="let commi of comisionAss">
          <h3 *ngIf="commi.pivot.roleName != ''">{{commi.name}} {{commi.pivot.roleName}}</h3>
          <h3 *ngIf="commi.pivot.roleName == ''">{{commi.name}} - INTEGRANTE DE LA COMISIÓN</h3>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-card>

  <ion-card>
    <ion-list *ngIf="id_biografia != null" class="unirButton">
      <ion-button size="default" style="font-size: 12.5px;" (click)="goInfAssam(id_perfil)"
        expand="block">BIOGRAFÍA</ion-button>
    </ion-list>
    <ion-list class="unirButton">
      <ion-button size="default" style="font-size: 12.5px;" (click)="goVotosAssam(id_perfil)"
        expand="block">VOTACIONES</ion-button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="categoryBlog.length > 0">
    <ion-list>
      <ion-item>
        <ion-select 
        (ionChange)="handleChange($event)" placeholder="Seleccione una categoría de blog" >
          <ion-select-option  *ngFor="let item of categoryBlog" [value]="item.id">{{item.categorianame}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="unirButton">
      <ion-button (click)="getBlogCategory()" size="default" style="font-size: 12.5px;" expand="block">REVISAR <ion-icon
          name="arrow-redo-outline"></ion-icon></ion-button>
    </ion-list>
  </ion-card>

</ion-content>

<div class="container">
  <div (click)="abrirMenu()" class="left-square square">
    <i class="fas fa-list" style="font-size: 30px;color:#003365"></i>
  </div>
  <div [routerLink]="['../../iniciov2']" class="circle">
      <i class="fas fa-home" style="font-size: 50px;color:#003365" ></i>
  </div>
  <div [routerLink]="['../../tabs/asambleistas']" class="right-square square">
    <i class="fas fa-reply" style="font-size: 30px;color:#003365"></i>
  </div>
  <img class="footer-img" src="../../assets/imgs/footer_curve.png" alt="">
</div>