<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons [routerLink]="['../../tabs/asambleistas']" slot="end">
      <ion-icon class="iconBack" name="close-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="title">ASAMBLEÍSTA</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img src="" alt="img-avatar">
      </div>
    </div>
  </div>
</ion-content>