.title {
  --color: white;
  size: large;
  text-align: center;
  font-family: "Gotham-Bold";
}

.iconBack {
  color: white;
  width: 40px;
  font-size: 30px;
  font-family: "Gotham-Bold";
}

.perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#B873ff, transparent);
}

.perfil-usuario-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 17rem;
}

.perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
}