<c-card>
  <c-card-body>
    <div class="container">
      <img *ngIf="urlGet" [src]="urlGet" alt="Descripción de la imagen">
    </div>
    <div class="file-input">
      <input (change)="onSelectFile($event)" type="file" id="file" name="file" />
      <label for="file">
        <span>Seleccionar una imagen</span>
        <svg cIcon class="me-2" name="cilDataTransferUp"></svg>
      </label>
    </div>

    <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="datos"></ckeditor>
    
    <section class="buttons">
      <i (click)="redSocial('facebook')"><svg cIcon size="xl" class="facebook" name="cibFacebook"></svg></i>
      <i (click)="redSocial('twitter')"><svg cIcon size="xl" class="twitter" name="cibTwitter"></svg></i>
      <i (click)="redSocial('instagram')"><svg cIcon size="xl" class="instagram" name="cibInstagram"></svg></i>
      <i (click)="redSocial('tiktok')"><svg cIcon size="xl" class="tiktok" name="cibTiktok"></svg></i>
    </section>
  </c-card-body>
  <c-card-footer>
    <c-col style="margin-top: 2%;" xs="12">
      <button (click)="updateBiografia()" cButton class="me-1" color="success" type="submit">
        Actualizar
      </button>
    </c-col>
  </c-card-footer>
</c-card>



<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>