<mat-stepper [linear]="isLinear" #stepper >
  <mat-step  errorMessage="Name is required.">
    <ng-template matStepLabel>Seleccionar blogs importantes</ng-template>
    <c-card style="margin-top: 2%;" class="mb-4">
      <c-card-header class="header-flex">
        <div  style="display: flex; justify-content: center; align-items: center; white-space: nowrap;">
          <strong>Editorial RC5 </strong>
          <input [(ngModel)]="tituloEditorial" style="margin-left: 3px" aria-describedby="basic-addon2" aria-label="Este es un título del editorial..." cFormControl placeholder="Título editorial" />
        </div>
        
        <div>
            <mat-checkbox  class="example-margin" [checked]="allCompleteBlog" color="primary"
            [indeterminate]="someCompleteBlog()" (change)="setAllBlog($event.checked)">
            Marcar todas
          </mat-checkbox>
        </div>
      </c-card-header>

      <c-card-body>
        <c-row>
          <c-col [md]="6">
            <label cLabel for="basic-url">Referente al blog</label>
            <c-input-group class="mb-4">
              <input aria-describedby="basic-addon2" aria-label="Este es un título del blog..." cFormControl
                placeholder="Texto referente al blog..." [(ngModel)]="search" (ngModelChange)="dataPaginate($event)"
                id="search" name="search" />
              <span cInputGroupText id="basic-addon2"><svg cIcon class="me-2" name="cilSearch"></svg>Buscar</span>
            </c-input-group>
          </c-col>
          <c-col [md]="6">
            <label cLabel for="basic-url">Categoría del blog</label>
            <select [(ngModel)]="categorie_id" aria-label="Categoria"
              cSelect class="mb-3">
              <option [ngValue]="0">Todas las categorías</option>
              <option *ngFor="let item of listCateg" [ngValue]="item.id">{{item.categorianame}}</option>
            </select>
          </c-col>
        </c-row>


        <c-row [gutter]="4" class="mb-4" [lg]="2" [md]="1" [xs]="1">
          <c-col *ngFor="let item of chekcList | filtroCreateEditorialCategoria:categorie_id | filtroCreateEditorial:search | paginate:{itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems : count,
                      id: 'paginado'
                      }">
            <c-card *ngIf="item._blogtitulo" class="mb-1">
              <c-card-header class="text-medium-emphasis"
                style="display: flex; justify-content: space-between; align-items: center">
                <span>{{item._categorianame}} </span>
                <mat-checkbox [(ngModel)]="item.completed" color="primary" (ngModelChange)="updateAllCompleteBlog(item.completed,item._id)">
                </mat-checkbox>
              </c-card-header>
              <c-card-body>
                <h5 cCardTitle>{{item._blogtitulo}}</h5>
                <p cCardText>
                  {{item._blogdescripcion}}
                </p>
              </c-card-body>
              <c-card-footer class="text-medium-emphasis"
                style="display: flex; justify-content: space-between; align-items: center;">
                <button (click)="blogGet(item._id)" cButton color="primary" variant="outline">Ver</button>
                <span style="font-size: 15px;">{{item._created_at}}</span>
              </c-card-footer>
            </c-card>
            <c-alert *ngIf="!item._blogtitulo" color="danger">No existen lista de blogs </c-alert>
          </c-col>
        </c-row>
        <pagination-controls style="text-align: center; display: flex; justify-content: center;" previousLabel="Prev"
          nextLabel="Next" (pageChange)="onTableDataChange($event)" [autoHide]="true" id="paginado">
        </pagination-controls>
        <div style="display: flex; justify-content: space-between;">
          <button mat-flat-button color="primary" matStepperNext> Siguiente </button>
          <button *ngIf="datosEdit.length != 0" mat-flat-button color="warn" (click)="cancelar()"> Cancelar </button>
        </div>        
      </c-card-body>
    </c-card>
  </mat-step>



  <mat-step  label="Ordenar blogs" >
    <form *ngIf="cheklisordenado.length != 0 && tituloEditorial != ''; else warning" style="margin-top: 2%;" [formGroup]="secondFormGroup">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <c-accordion [alwaysOpen]="true">
          <c-accordion-item cdkDrag *ngFor="let item of cheklisordenado" #accordionItem="cAccordionItem"
            [visible]="item.visible" style="margin-top: 1%;">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button (click)="accordionItem.toggleItem()" [collapsed]="!accordionItem.visible" cAccordionButton>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{ item._blogtitulo }}
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="accordion-body">
                <strong>{{ item._blogdescripcion }}</strong>
              </div>
            </ng-template>
          </c-accordion-item>
        </c-accordion>
      </div>

      <div style="margin-top: 3%;">
        <button mat-flat-button color="warn" matStepperPrevious>Atras</button>
        <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
      </div>
      
    </form>
    <ng-template  #warning>
      <div *ngIf="tituloEditorial != ''"  style="margin-top: 3%;">
        <c-alert style="margin-top: 30%;" color="danger">No existen lista de blogs para ordenar!</c-alert>
      </div>
      <div *ngIf="tituloEditorial == ''" style="margin-top: 3%;">
        <c-alert style="margin-top: 30%;" color="danger">Ingrese un título al editorial!</c-alert>
      </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Hecho</ng-template>
    <p>Ya has terminado?</p>
    <div *ngIf="cheklisordenado.length != 0; else warning2">
      <button mat-flat-button color="warn" matStepperPrevious>Atras</button>
      <button mat-flat-button color="primary" (click)="publicar()">{{datosEdit.length == 0? 'Publicar':'Editar Editorial' }}</button>
    </div>

    <ng-template #warning2>
      <c-alert style="margin-top: 30%;" color="danger">No existen lista de blogs para publicar!</c-alert>
    </ng-template>
  </mat-step>
</mat-stepper>



<c-modal backdrop="static" id="staticBackdropModal" size="lg" [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)" scrollable> <!--Modal de editar cuenta Asambleista-->

  <c-modal-header>
    <h5 cModalTitle>Blog {{categoria}}</h5>
    <button (click)="clear();toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container>
      <div class="container">
        <img *ngIf="urlGet" [src]="urlGet" alt="Descripción de la imagen">
      </div> 
    <div style="line-height: 1.5; margin-top: 5px;">
      <div style="font-size: 20px; color:black; font-weight: bold;">{{blogtitulo}}</div>
      <div style="font-size: 18px; color:black;">{{blogdescripcion}}</div>
    </div>
    <br>
      <div [innerHTML]="blogcontenido" class="blog"></div>
      <br>
      <div *ngIf="pdfs.length != 0" style="font-size: 16px; color: black;">Documentos PDF:</div>
      <div class="pdf-list">
        <div class="pdfs-container">
            <div *ngFor="let pdf of pdfs" class="pdf-item">
                <a [href]="pdf.pdf" download="{{pdf.name}}">
                    <i [cTooltip]="pdf.name" class="fas fa-file-pdf fa-2x text-danger"></i>
                </a>
            </div>
        </div>
    </div>
    </ng-container>

  </c-modal-body>
</c-modal>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>