.profile-img {
    width: 200px; /* alto y ancho específico para que el círculo sea redondo */
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; /* oculta todo el contenido fuera de la caja */
    position: relative;
    margin-left: 40%;
    margin-bottom: 2%;
  }
  
  .profile-img img {
    position: absolute;
    width: 100%;
    height: 100%;/* posiciona al centro del contenedor la imagen */
    object-fit: cover;
  }
  
  .profile-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    background: #212529b8;
    color: #fff;
    text-align: center;
    padding: 10px 0 25px;
   
  }
  
  .profile-img .file input {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer; /* manita de selección al hacer hover */
  }

  .card{
    --cui-card-border-width: 0px;
  }