<ion-header>
  <ion-toolbar>
    <!--ion-buttons slot="start" >
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons-->
    <ion-buttons [routerLink]="['../ultimas']" slot="start">
      <ion-icon class="iconBack" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="title">REVOLUCIÓN CIUDADANA</ion-title>
    <ion-buttons [routerLink]="" slot="end">
      <ion-icon class="iconBack" name="share-social"></ion-icon>
    </ion-buttons>
    <!--ion-img src="../../assets/imgs/logo_rc_200px.png" style="height: auto; max-width: 17vh; float: right;"></!--ion-img!-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p class="title2"> ACTULIDAD | NOTICIAS</p>
    <div class="linea"></div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titleCard">Ecuador: la derecha necesita campañas sucias para atentar contra
        RC5</ion-card-title>
      <ion-card-subtitle class="subtitleCard">Card Subtitle</ion-card-subtitle>
    </ion-card-header>


    <img style="margin-bottom: 10px;" src="../../../assets/imgs/noticia2.jpg" />
    <em class="tituloImagen">El man traicionero</em>

    <ion-card-content class="contentCard">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias, quod provident in corrupti
      consequatur? Aliquid ab veritatis in consectetur eligendi quia, nisi laborum autem consequuntur officia quo
      explicabo quis!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, qui voluptates ipsam voluptatum quaerat quam
      quis autem, temporibus quasi blanditiis minus quae, cupiditate vel. Adipisci est fugit ex eveniet magni.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptas voluptatem explicabo quia obcaecati
      dicta corrupti velit, sit iste quaerat tenetur, quae illum possimus in deleniti dolorum eum praesentium
      consectetur!
    </ion-card-content>


    <!--ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content-->

    <ion-item>
      <!----Twitter-->
     
    </ion-item>
  </ion-card>


  <div>
    <p class="title2"> REDES SOCIALES</p>
    <div class="linea"></div>
  </div>


  <!--iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FRafaelCorreaDelgadoVuelve&tabs=timeline&width=450&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=361622752774312"
    width="450" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe-->






</ion-content>