    ion-toolbar {
        --background: #00b9ec;
    }

    .iconBack {
        color: white;
        width: 40px;
        font-size: 24px;
    }

    .title {
        --color: white;
        //size: large;
        text-align: center;
        font-family: "Gotham-Bold";
        font-size: 15px;
        padding: 0px 20px;
    }

    .title2 {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 4%;
        font-family: "Gotham-Book";
        font-size: 20px;
        color: #00b9ec;
        margin-bottom: 5px;
    }

    .linea {
        border-top: 1px solid #00b9ec;
        height: 2px;
        max-width: 100px;
        padding: 0;
        margin: 10px auto 20px auto;
        background-color: #00b9ec;
        height: 5px;
    }

    .titleCard {
        font-family: "Gotham-Bold";
    }

    .subtitleCard {
        font-family: "Gotham-Medium";
        font-size: 16px;
    }

    .titleCard.ios {
        font-family: "Gotham-Bold";
        font-size: 18px;
    }

    .subtitleCard.ios {
        font-family: "Gotham-Medium";
        font-size: 14px;
        margin-top: 8px;
        font-weight: normal;
    }

    .contentCard {
        font-family: "Gotham-Book";
        text-align: justify;
        padding-bottom: 50px !important;
    }

    .tituloImagen {
        margin-left: 10px;
        font-family: "Gotham-Book";
        font-size: 13px;
    }

    ion-buttons.ios ion-back-button.ios {
        margin-left: 7px
    }


    .imgPrincipal {
        max-width: 100%;
        max-height: 200px;
        display: block;
        margin: 0 auto;
    }


    //Versión 2

    .tolbar1 {
        --background: #009fe4;
        border-bottom-left-radius: 60px;
    }

    .tolbar2 {
        --background: white;
        border-top-right-radius: 70px;
        height: 70px;
    }

    .header-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-content img {
        width: 295px;
        height: 80px;
    }

    .contenedor-superpuesto {
        position: relative;
        top: 0;
        left: 0;
        background-color: #009fe4;
        height: 67px;
        /* Segundo color superpuesto */
    }

    .cuadrado-con-texto p {
        font-family: "Gotham-Bold";
        color: white;
        font-style: italic;
        font-size: 18px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .circle {
        width: 75px;
        height: 75px;
        background-color: #e10717;
        border-radius: 50%;
        position: absolute;
        top: 94.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        z-index: 1;
        /* Color del icono */
    }


    .square {
        width: 60px;
        height: 35px;
        background-color: #e10717;
        /* Color del cuadrado */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30% 10% 30% 10%;
    }

    .left-square {
        position: absolute;
        left: 15%;
        top: 94.5%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .right-square {
        position: absolute;
        right: 15%;
        top: 94.5%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .footer-img {
        background-color: transparent !important;
        position: absolute;
        margin-top: 200px;
        bottom: 0;
        z-index: 0;

    }

    @media (min-width: 500px) {
        .footer-img {
            width: 100%;
            /* Puedes ajustar este valor según sea necesario */
            height: 15%;
        }

        .right-square {
            top: 93%;
        }

        .left-square {
            top: 93%;
        }
    }

    ion-segment {
        --background: #e10717;
    }

    .cuadrado-con-texto {
        margin-top: 2.5%;
        margin-left: 12%;
        margin-right: 12%;
        background-color: #3498db;
        /* Color del cuadrado */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e10717;
        padding: auto;
        border-radius: 10px;
    }