<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons [routerLink]="['../../inf-asambleista/'+id_perfil]" slot="end">
      <ion-icon class="iconBack" name="close-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="title">ASAMBLEÍSTA</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <div [innerHTML]="peril" class="contentInner" ></div>
  </ion-card>
  <blockquote class="twitter-tweet">
    <p lang="es" dir="ltr">Justo a tiempo…
        <br>¡Sinvergüenza!
        <a href="https://twitter.com/hashtag/LosCorruptosSiempreFueronEllos?src=hash&amp;ref_src=twsrc%5Etfw">#LosCorruptosSiempreFueronEllos</a>
        <a href="https://t.co/HkRtKSFMJl">pic.twitter.com/HkRtKSFMJl</a>
    </p>&mdash; Rafael Correa (@MashiRafael)
    <a href="https://twitter.com/MashiRafael/status/1631732191410487314?ref_src=twsrc%5Etfw">March 3, 2023</a>
</blockquote>

<div [innerHTML]="peril"></div>
 </ion-content>

