<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="title" id="animated-title">ASAMBLEÍSTA</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  
  <ion-card class="cardStyle">
      <div class="profile-imgBio">
        <img  class="tamanioBio" [src]="urlGet" alt="" />
      </div>
    <div  [innerHTML]="peril" class="contentInnerBiografia" ></div>
    <section class="buttons">
      <a [href]="urlfb" style="color: #3B5998;"><i *ngIf="urlfb != null" ><ion-icon name="logo-facebook"></ion-icon></i></a>
      <a [href]="urltw" style="color: #1DA1F2;"> <i *ngIf="urltw != null"><ion-icon name="logo-twitter"></ion-icon></i></a>
        <a [href]="urlit" style="color: #E1306C;"><i *ngIf="urlit!= null"><ion-icon name="logo-instagram"></ion-icon></i></a>
          <a [href]="urlttk" style="color: #69C9D0;"><i *ngIf="urlttk != null"><ion-icon name="logo-tiktok"></ion-icon></i></a>
    </section>
  </ion-card>
 </ion-content>

 

