<form [formGroup]="form">
	<mat-form-field>
	  <input matInput type="email" placeholder="Email" formControlName="email">
	  <mat-error *ngIf="form.get('email')?.hasError('required') || form.get('email')?.hasError('email')">
		Email inválido
	  </mat-error>
	</mat-form-field>
	<mat-form-field>
	  <input matInput type="password" placeholder="Password" formControlName="password">
	  <mat-error *ngIf="form.get('password')?.hasError('required') || form.get('password')?.hasError('minlength')">
		La contraseña debe tener al menos 6 caracteres
	  </mat-error>
	</mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="clearFields()">Limpiar campos</button>
  