<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="tolbar1">
    <div class="header-content">
      <img src="../../assets/imgs/logo_arriba.svg" alt="">
    </div>
  </ion-toolbar> 

  <div class="contenedor-superpuesto">
    <ion-toolbar class="tolbar2">
      <div class="cuadrado-con-texto ">
        <p style="text-transform: uppercase;">{{categoriname}}</p>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content #content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Refrescar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="blogUltiFilter.length>0 ;else sinRegistro">
    <ion-card-content class="content"> 
      <ion-row>
        <ion-col size="12">
          <ion-item
            style=" height: 50px; background-color: white;--inner-padding-end: 0px; padding-top: 0px;  border-radius: 20px; border: 3px solid #003365;background-color: white;">
            <ion-input [(ngModel)]="search" class="search" color="dark" placeholder="Buscar palabra clave"
              clearInput></ion-input>
            <ion-button (click)="buscarBlog()"
              style="width: 70px; height: 50px; margin: 0px; --background: #003365; border-top-left-radius: 0px !important;">
              <ion-icon style="font-size: 25px; margin-right: 10px; margin-bottom: 2px;" name="search"
                slot="end"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-datetime-button  datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime  presentation="month-year" [isDateEnabled]="isWeekday" id="datetime"
            min="2023-04" (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal> -->
    </ion-card-content>
    <ion-card style="margin-top: 15px;" *ngFor="let item of blogUltiFilter.slice(limPrev,limNext);let index = index" (click)="goInfBlog(item.id)">
      <img *ngIf="item.blogtitulo != false" src="{{item.imagen.changingThisBreaksApplicationSecurity}}" />
      <ion-card-header *ngIf="item.blogtitulo != false">
        <div class="container">
          <a class="users">
            <div class="container-username">
              <span class="header-username">{{item.name}}</span>
              <span class="cargoAsambl">{{item.jurisdiction}}</span>
            </div>
          </a>
        </div>
        <ion-card-title class="titleCard"> {{item.blogtitulo}} </ion-card-title>
      </ion-card-header>

      <ion-card-content class="contentCard" *ngIf="item.blogtitulo != false">
        {{item.blogdescripcion}}
      </ion-card-content>

      <ion-card-content *ngIf="item.blogtitulo == false" class="cardContentVoto">
        <p class="sinRegis">Sin registro</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="blogUltiFilter.length != 0" style="display: flex; justify-content: space-between; margin-right: 2%; margin-left: 2%;">
    <ion-button *ngIf="limPrev > 0" (click)="cambiarBlogPrev()" style="font-size: 14px" size="default">
      ANTERIOR
      <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="limNext < blogUltiFilter.length" (click)="cambiarBlogNext()" style="font-size: 14px; margin-left: auto;" size="default">
      SIGUIENTE
      <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
    </ion-button>
  </div>

  <ng-template #sinRegistro>
    <ion-card>
      <p class="sinRegis">Sin registros</p>
    </ion-card>
  </ng-template>
 
</ion-content>

<div class="container">
  <div (click)="abrirMenu()" class="left-square square">
    <i class="fas fa-list" style="font-size: 30px;color:#003365"></i>
  </div>
  <div [routerLink]="['../iniciov2']" class="circle">
    <i class="fas fa-home" style="font-size: 50px;color:#003365"></i>
  </div>
  <div (click)="goBack()" class="right-square square">
    <i class="fas fa-reply" style="font-size: 30px;color:#003365"></i>
  </div>
  <img class="footer-img" src="../../assets/imgs/footer_curve.png" alt="">
</div>
