.iconBack {
    color: white;
    width: 40px;
    font-size: 30px;
    font-family: "Gotham-Bold";
  }

  ion-searchbar.ios{
    margin-top: 10px;
  }
  
  .title{
      --color : white;
      size: large;
      text-align: center;
      font-family: "Gotham-Bold";
  }
  