<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Asambleístas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!--ion-img src="../../assets/imgs/logo_rc_200px.png" style="height: auto; max-width: 17vh; float: right;"></!--ion-img!-->
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar class="search" placeholder="Buscar tema" animated
      ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
<!--ion-content>
  <ion-card *ngFor="let item of assambly | filtro: textoBuscar">
    <ion-item (click)="goInfAssam(item.id)">
      <div style="width: 45px; margin-right: 5px;">
        <img src="{{item.imagen.changingThisBreaksApplicationSecurity}}" />
      </div>
      <ion-label>
        <h2>{{item.LastFirstName}}</h2>
        <h3>{{item.territorialDivision}}</h3>
        <p>Curul {{item.curul}}</p>
      </ion-label>

    </ion-item>
  </ion-card>
</ion-content-->
