<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
            <strong>Crear Cuenta</strong>
          </c-card-header>
        <c-card-body>
            <form #customStylesForm="ngForm"
                  (ngSubmit)="onSubmit1()"
                  [validated]="customStylesValidated"
                  cForm
                  class="row g-3 needs-validation"
            >
              <c-col md="6">
                <label cLabel for="validationCustom01">Nombres</label>
                <input cFormControl id="validationCustom01" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="validationCustom02">Apellidos</label>
                <input cFormControl id="validationCustom02" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese apellidos</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel  for="validationCustomUsername">Correo electrónico</label>
                
                  <input cFormControl id="validationCustomUsername" required type="email" placeholder="name@example.com"/>
                  <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="validationCustom03">Contraseña</label>
                <input cFormControl id="validationCustom03" required type="password" />
                <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col xs="12">
                <button cButton class="me-1" color="primary" type="submit">
                  Aceptar
                </button>
                <button (click)="onReset1()" cButton color="secondary" type="reset"> 
                  Reiniciar
                </button>
              </c-col>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  
  <c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Cuentas Registradas</strong>
          </c-card-header>
      <c-card-body>
          <table cTable>
            <thead cTableColor="light">
            <tr>
              <th scope="col">Nombres y Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataTabla">
              <th scope="row">{{item.nombres}}</th>
              <td>{{item.correo}}</td>
              <td>
                <c-badge *ngIf="item.estado==1" class="ms-2" color="success">
                    Habilitado
                  </c-badge>
                <c-badge *ngIf="item.estado==0" class="ms-2" color="danger" >Deshabilitado</c-badge>
             </td>
              <td>
                <button type="button" class="btn btn-ghost-info botont" ><svg cIcon name="cilPencil" size="x" width="20"></svg>&nbsp;Editar</button>
              <button type="button" class="btn btn-ghost-danger botont"><svg cIcon name="cilTrash" size="x" width="20"></svg>&nbsp;Eliminar</button>
              </td>
            </tr>
            </tbody>
          </table>
        
      </c-card-body>
      <c-pagination style="margin-left: 2.5%;" aria-label="Page navigation example">
        <c-page-item>
          <a cPageLink routerLink="./">Previous</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">1</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">2</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">3</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">Next</a>
        </c-page-item>
      </c-pagination>
    </c-card>
  </c-col>


  
  