<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="main-menu">
      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="../assets/imgs/logo_rc_200px.png" alt="">
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['agenda']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="calendar-outline"></ion-icon>
              <ion-label>Agenda</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list" >
          <h4 >Comunicación</h4>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="notifications-outline"></ion-icon>
              <ion-label>Notificaciones</ion-label>
              </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-label>Contacto</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <h4 >Redes Sociales</h4>
          <ion-menu-toggle auto-hide="false">
            <ion-item   routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
              </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item  routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
              </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item   routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
