

<ion-content>
  <ion-accordion-group style="margin-bottom: 75px;" (ionChange)="accordionGroupChange($event)" multiple="false" expand="inset">
    <ion-accordion style="margin-top: 5px;" *ngFor="let item of ambitoTerr" value="{{item.name}}" >
      <ion-item id="ambTerr" name="ambTerr" slot="header" color="rose">
        <ion-label class="provi">{{item.name}}</ion-label>
      </ion-item>

      <ion-list *ngIf="NullAsa == false" slot="content">
        <ion-item *ngFor="let itemAsam of asambleTerri" slot="content">
          <div (click)="goInfAssam(itemAsam.id)" style="width: 45px; margin-right: 5px;">
            <img src="{{itemAsam.imagen.changingThisBreaksApplicationSecurity}}" />
          </div>
          <ion-label style="margin-left: 2%;" (click)="goInfAssam(itemAsam.id)">
            <h2 style="color: #3880ff;">{{itemAsam.LastFirstName}}</h2>
            <h3>Curul {{itemAsam.curul}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>

      <!--ion-label *ngFor="let itemAsam of asambleTerri" slot="content" >
        <div>
          <img width="30" heigth="30" src="{{itemAsam.imagen.changingThisBreaksApplicationSecurity}}"/>
        </div>
        <h3>{{itemAsam.firstName}} {{itemAsam.lastName}}</h3>
      </ion-label-->

      <ion-item *ngIf="load == true" slot="content">
        <ion-label class="ion-padding">
          <h3 style="font-weight: bold;"><ion-spinner name="circular"></ion-spinner> CARGANDO... </h3>
        </ion-label>
      </ion-item>



      <ion-item *ngIf="NullAsa == true" slot="content">
        <ion-label>
          <h3 style="font-weight: bold;" class="ion-padding">NO EXISTEN ASAMBLEÍSTAS...</h3>
        </ion-label>
      </ion-item>


    </ion-accordion>
  </ion-accordion-group>

  <!--ion-accordion-group (ionChange)="accordionGroupChange($event)">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group-->
</ion-content>
<!--ion-accordion-group expand="inset">
  <ion-accordion value="first">
    <ion-item slot="header" color="rose">
      <ion-label>First Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      First Content
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="rose">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Second Content
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="rose">
      <ion-label>Third Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Third Content
    </div>
  </ion-accordion>
</ion-accordion-group-->