.title{
  --color : white;
  size: large;
  text-align: center;
  font-family: "Gotham-Bold";
}

.provi{
  font-family: "Gotham-Medium";
  font-size: 14px;
  color: white;
}

.ion-padding{
  font-family: "Gotham-Book";
}

ion-list.ios {
  margin-top: 8px;
}

h2{
  text-align: left; 
  font-weight: bold;
  font-family: "Gotham-Bold";
}

ion-label h2{
  font-size: 10.5px;
  margin-top: 5px; margin-bottom: 0px;
  color:#009fe4;
}
ion-label h3{
  font-size: 10px;
  margin-top: 5px; margin-bottom: 0px;
}

h3{
  text-align: left;
  font-family: "Gotham-Medium";
}

ion-buttons.ios ion-back-button.ios{
  margin-right: 7px
}

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*:root {
  --ion-color-rose: #fecdd3;
  --ion-color-rose-rgb: 254,205,211;
  --ion-color-rose-contrast: #000000;
  --ion-color-rose-contrast-rgb: 0,0,0;
  --ion-color-rose-shade: #e0b4ba;
  --ion-color-rose-tint: #fed2d7;
}*/



.ion-color-rose {
  --ion-color-base: var(--ion-color-rose);
  --ion-color-base-rgb: var(--ion-color-rose-rgb);
  --ion-color-contrast: var(--ion-color-rose-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
  --ion-color-shade: var(--ion-color-rose-shade);
  --ion-color-tint: var(--ion-color-rose-tint);
}

div[slot="content"] {
  background: rgba(var(--ion-color-rose-rgb), 0.25)
}

.title{
  --color: white;
  //size: large;
  text-align: center;
  font-family: "Gotham-Bold";
  font-size: 16px;
  padding: 0px 10px;
}

ion-accordion-group{
  ion-accordion {
      .ion-accordion-toggle-icon {
          font-size: 50px;
          color: red;
      }
  }
}