<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Acceso</h1>
                <p class="text-medium-emphasis">Iniciar sesión en su cuenta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input  [(ngModel)]="correo" name="correo"  cFormControl placeholder="Nombre de usuario" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    [(ngModel)]="pass"
                    name="pass"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Contraseña"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="iniciarSesion()" cButton class="px-4" color="primary">
                      Acceso
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>RC5</h2>
                <p>
                  Despues se ve que se pone para llenar espacio (imagen o texto)
                </p>
                
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
