
  <c-col> <!--Input de crear Cuenta de asambleistas-->
    <c-card style="margin-bottom: 1%;">
      <c-nav xs="12" layout="justified" variant="pills">
        <c-nav-item >
          <span (click)="activiteNavAsis = false; activiteNavAsam = true"  [active]="activiteNavAsam" cNavLink>
            Asambleistas
          </span>
        </c-nav-item>
        <c-nav-item>
          <span (click)="activiteNavAsis = true; activiteNavAsam = false" cNavLink [active]="activiteNavAsis"> Asistentes </span>
        </c-nav-item>
      </c-nav>
    </c-card>
  </c-col>
<ng-container *ngIf="activiteNavAsam == true">
  <c-col xs="12" *ngIf="habilitarCampos==false else cuentasCampos"> 
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
          <strong style="font-size: 16px;">Crear Cuenta Asambleista</strong>
        </c-card-header>
      <c-card-body>
          <form cForm class="row g-3" style="margin-left: 12%;">
            <div class="col-sm-8" >
              <ng-autocomplete 
                [data]="datosAsambleistas"
                [searchKeyword]="keyword"
                placeholder="Seleccione un asambleista"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                (inputCleared)='onClear()'
                [itemTemplate]="itemTemplateAsam"
                [notFoundTemplate]="notFoundTemplateAsam"
                [minQueryLength]="3" >
              </ng-autocomplete>
              
              <ng-template #itemTemplateAsam let-item>
              <a [innerHTML]="item.name"></a>
              </ng-template>
              
              <ng-template #notFoundTemplateAsam let-item>
              <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
            <div class="col-auto">
              <button style="font-size: 14px;" (click)="habilitar()" cButton class="mb-3" type="submit">
                Crear cuenta
              </button>
            </div>
          </form>
      </c-card-body>
    </c-card>
  </c-col>


  <ng-template #cuentasCampos>
    <c-col xs="12"> 
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
            <strong>Crear Cuenta</strong>
          </c-card-header>
        <c-card-body>
            <form #customStylesForm="ngForm"
                  (ngSubmit)="onSubmit1()"
                  [validated]="customStylesValidated1"
                  cForm
                  class="row g-3 needs-validation"
            >
            <!--Form Asambleista-->
              <c-col md="6">
                <label cLabel for="nombreAsambleistaValidation">Nombres</label>
                <input [(ngModel)]="nombreAsambleista" name="nombreAsambleista"  id="nombreAsambleista" cFormControl required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="apellidoAsambleistaValidation">Apellidos</label>
                <input [(ngModel)]="apellidoAsambleista" name="apellidoAsambleista" cFormControl id="apellidoAsambleistaValidation" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese apellidos</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label  cLabel  for="correoAsambleistaValidation">Correo electrónico</label>
                  <input [(ngModel)]="correoAsambleista" name="correoAsambleista" cFormControl id="correoAsambleistaValidation" required type="email" placeholder="name@example.com"/>
                  <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="contrasenaAsambleistaValidation">Contraseña</label>
                <c-input-group class="has-validation">
                  <input [(ngModel)]="contrasenaAsambleista" name="contrasenaAsambleista" aria-describedby="contrasenaAsambleistaValidation"
                         cFormControl
                         id="contrasenaAsambleista"
                         required
                         [type]="iconEyeAsam"

                  />
                  <ng-template #Eyeslashfill>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                  </ng-template>
                  <span (click)="cambiarIconAsam()" cInputGroupText id="inputGroupPrepend" >
                    <svg *ngIf="iconEyeAsam == 'password' else Eyeslashfill" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </span>
                  <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12">
                <c-form-check [switch]="true">
                  <input cFormCheckInput (click)="activarCuentaDelegado()" type="checkbox" />
                  <label cFormCheckLabel>Agregar una cuenta delegado del asambleista</label>
                </c-form-check>
              </c-col>
              <!--Form de Asambleistas Delegados-->
            <ng-container *ngIf="delegadoCuentaCampos == true">
              <p class="text-medium-emphasis small">
                A switch has the markup of a custom checkbox but uses the <code>switch</code> boolean
                properly to render a toggle switch. Switches also support the <code>disabled</code>
                attribute.
              </p>
              <c-col md="6">
                <label cLabel for="nombreAsisAsamValidation">Nombres</label>
                <input [(ngModel)]="nombreAsisAsam" name="nombreAsisAsam" cFormControl id="nombreAsisAsamValidation" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="apellidoAsisAsamValidation">Apellidos</label>
                <input [(ngModel)]="apellidoAsisAsam" name="apellidoAsisAsam" cFormControl id="apellidoAsisAsamValidation" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese apellidos</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel  for="correoAsisAsamValidation">Correo electrónico</label>
                  <input [(ngModel)]="correoAsisAsam" name="correoAsisAsam" cFormControl id="correoAsisAsamValidation" required type="email" placeholder="name@example.com"/>
                  <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="contrasenaAsisAsamValidation">Contraseña</label>
                <c-input-group class="has-validation">
                  <input
                        [(ngModel)]="contrasenaAsisAsam" name="contrasenaAsisAsam"
                        aria-describedby="inputGroupPrepend"
                        cFormControl
                        id="contrasenaAsisAsamValidation"
                        required
                        [type]="iconEyeAsamAsis"

                  />
                  <ng-template #Eyeslashfill>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                  </ng-template>
                  <span (click)="cambiarIconAsamAsis()" cInputGroupText id="inputGroupPrepend" >
                    <svg *ngIf="iconEyeAsamAsis == 'password' else Eyeslashfill" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </span>
                  <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                </c-input-group>
              </c-col>
            </ng-container>
            <!--Botones-->
            <c-col xs="12">
              <button (click)="crearCuentaAsam()" cButton class="me-1" color="success" type="submit">
                Aceptar
              </button>
              <button (click)="onReset1()" cButton color="danger" type="reset"> 
                Cancelar
              </button>
            </c-col>
          </form>
        </c-card-body>

        
      </c-card>
      
    </c-col>
  </ng-template>
  <!--Tablas de cuentas de Asambleistas-->
  <c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Cuentas Registradas</strong>
          </c-card-header>
      <c-card-body>
          <table cTable>
            <thead cTableColor="light">
            <tr>
              <th scope="col">Nombres y Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataTabla">
              <th scope="row">{{item.name}}</th>
              <td>{{item.email}}</td>
              <td>
                <c-badge *ngIf="item.estado==1" class="ms-2" color="success">
                    Habilitado
                  </c-badge>
                <c-badge *ngIf="item.estado==0" class="ms-2" color="danger" >Deshabilitado</c-badge>
             </td>
              <td>
                <button [cModalToggle]="modalLg.id" type="button" class="btn btn-ghost-info botont" ><svg cIcon name="cilPencil" size="x" width="20"></svg>&nbsp;Editar</button>
                <!--Modal-->
                <c-modal #modalLg id="modalLg" size="lg"> <!--Modal de editar cuenta Asambleista-->
                  <c-modal-header>
                    <h5 cModalTitle>Editar Cuenta de Asambleista</h5>
                  </c-modal-header>
                  <c-modal-body>  
                    <form #customStylesForm="ngForm"
                  (ngSubmit)="onSubmit1()"
                  [validated]="customStylesValidated2"
                  cForm
                  class="row g-3 needs-validation"
                  >
              <!--Form Asambleista Editar -->
              <c-col md="6">
                <label cLabel for="editNombreAsambleistaValidation">Nombres</label>
                <input [(ngModel)]="editNombreAsambleista" name="editNombreAsambleista"   cFormControl required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="editApellidoAsambleistaValidation">Apellidos</label>
                <input [(ngModel)]="editApellidoAsambleista" name="editApellidoAsambleista" cFormControl  required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese apellidos</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label  cLabel  for="editCorreoAsambleistaValidation">Correo electrónico</label>
                  <input [(ngModel)]="editCorreoAsambleista" name="editCorreoAsambleista" cFormControl id="editCorreoAsambleista" required type="email" placeholder="name@example.com"/>
                  <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col md="6">
                <label cLabel for="editContrasenaAsambleistaValidation">Contraseña</label>
                <c-input-group class="has-validation">
                  <input [(ngModel)]="editContrasenaAsambleista" name="editContrasenaAsambleista" aria-describedby="inputGroupPrepend"
                         cFormControl
                         required
                         [type]="iconEyeAsam"

                  />
                  <ng-template #Eyeslashfill>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                  </ng-template>
                  <span (click)="cambiarIconAsam()" cInputGroupText id="inputGroupPrepend" >
                    <svg *ngIf="iconEyeAsam == 'password' else Eyeslashfill" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </span>
                  <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="6">
                <label cLabel for="editContrasenaAsambleistaValidation">Estado de la cuenta</label>
                <select aria-label="Default select example" cSelect>
                  <option>Selecciones una opción</option>
                  <option value="1">Habilitar</option>
                  <option value="2">Deshabilitar</option>
                </select>
              </c-col>
            <!--Botones Editar-->
            <c-col xs="12">
              <button  cButton class="me-1" color="success" type="submit">
                Editar
              </button>
              <button  cButton color="danger" type="reset"> 
                Cancelar
              </button>
            </c-col>
                    </form>
                  </c-modal-body>
                </c-modal>
              <button type="button" class="btn btn-ghost-danger botont"><svg cIcon name="cilTrash" size="x" width="20"></svg>&nbsp;Eliminar</button>
              </td>
            </tr>
            </tbody>
          </table>
        
      </c-card-body>
      <c-pagination style="margin-left: 2.5%;" aria-label="Page navigation example">
        <c-page-item>
          <a cPageLink routerLink="./">Previous</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">1</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">2</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">3</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">Next</a>
        </c-page-item>
      </c-pagination>
    </c-card>
  </c-col>
</ng-container>

<ng-container *ngIf="activiteNavAsis == true">
    <c-col xs="12"> 
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
            <strong>Crear Cuenta Asistente</strong>
          </c-card-header>
        <c-card-body>
            <form #customStylesForm="ngForm"
                  (ngSubmit)="onSubmit2()"
                  [validated]="customStylesValidated3"
                  cForm
                  class="row g-3 needs-validation"
            >
            <!--Form Cuenta Asistente-->
              <c-col md="4">
                <label cLabel for="nombreAsistenteValidation">Nombres</label>
                <input [(ngModel)]="nombreAsistente" name="nombreAsistente" cFormControl id="nombreAsistenteValidation" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
              </c-col>
              <c-col md="4">
                <label cLabel for="apellidoAsistenteValidation">Apellidos</label>
                <input [(ngModel)]="apellidoAsistente" name="apellidoAsistente" cFormControl id="apellidoAsistenteValidation" required type="text" value="" />
                <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                <c-form-feedback [valid]="false">Por favor, ingrese apellidos</c-form-feedback>
              </c-col>
              <c-col md="4">
                <label cLabel  for="correoAsistenteValidation">Correo electrónico</label>
                  <input [(ngModel)]="correoAsistente" name="correoAsistente" cFormControl id="correoAsistenteValidation" required type="email" placeholder="name@example.com"/>
                  <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
              </c-col>
              <c-col md="4">
                <label cLabel for="contrasenaAsistenteValidation">Contraseña</label>
                <c-input-group class="has-validation">
                  <input
                        [(ngModel)]="contrasenaAsistente" name="contrasenaAsistente" 
                        aria-describedby="inputGroupPrepend"
                         cFormControl
                         id="contrasenaAsistenteValidation"
                         required
                         [type]="iconEyeAsistente"

                  />
                  <ng-template #Eyeslashfill>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                  </ng-template>
                  <span (click)="cambiarIconAsis()" cInputGroupText id="inputGroupPrepend" >
                    <svg *ngIf="iconEyeAsistente == 'password' else Eyeslashfill" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </span>
                  <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
                  <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col md="6" >
                <label cLabel  for="validationCustomUsername">Asambleistas</label>
                    <ng-autocomplete
                      [data]="dataAsmbleista"
                      [searchKeyword]="keyword"
                      placeholder="Seleccione un asambleista"
                      (selected)='selectEventAsis($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      (inputCleared)='onClear()'
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate"
                      [minQueryLength]="3" >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-item>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
              </c-col>
             
            <!--Botones-->
            <c-col xs="12">
              <button (click)="crearCuentaAsis()" cButton class="me-1" color="success" type="submit">
                Aceptar
              </button>
              <button (click)="onReset2()" cButton color="danger" type="reset"> 
                Cancelar
              </button>
            </c-col>
          </form>
        </c-card-body>

        
      </c-card>
      
    </c-col>
  
  <c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Cuentas Registradas</strong>
          </c-card-header>
      <c-card-body>
          <table cTable>
            <thead cTableColor="light">
            <tr>
              <th scope="col">Nombres y Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataTabla">
              <th scope="row">{{item.nombres}}</th>
              <td>{{item.correo}}</td>
              <td>
                <c-badge *ngIf="item.estado==1" class="ms-2" color="success">
                    Habilitado
                  </c-badge>
                <c-badge *ngIf="item.estado==0" class="ms-2" color="danger" >Deshabilitado</c-badge>
             </td>
              <td>
                <button type="button" class="btn btn-ghost-info botont" ><svg cIcon name="cilPencil" size="x" width="20"></svg>&nbsp;Editar</button>
              <button type="button" class="btn btn-ghost-danger botont"><svg cIcon name="cilTrash" size="x" width="20"></svg>&nbsp;Eliminar</button>
              </td>
            </tr>
            </tbody>
          </table>
        
      </c-card-body>
      <c-pagination style="margin-left: 2.5%;" aria-label="Page navigation example">
        <c-page-item>
          <a cPageLink routerLink="./">Previous</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">1</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">2</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">3</a>
        </c-page-item>
        <c-page-item>
          <a cPageLink routerLink="./">Next</a>
        </c-page-item>
      </c-pagination>
    </c-card>
  </c-col>
</ng-container>






  
  