.iconBack {
    color: white;
    width: 40px;
    font-size: 24px;
}

.title {
    --color: white;
    //size: large;
    text-align: center;
    font-family: "Gotham-Bold";
    font-size: 20px;
    padding: 0px 20px;
}

.content {
    background-color: #f3f3f3;
    padding: 5%;
    margin: 5%;
    font-family: "Gotham-Book";
}