<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Crear cuenta de administrador
      </mat-panel-title>
      <mat-panel-description>
        Usurio/Correo/Contraseña/Confirmar contraseña
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" type="text">
        <mat-error *ngIf="simpleForm.get('username')?.hasError('required')">Se requiere un nombre de usuario</mat-error>
        <mat-error *ngIf="simpleForm.get('username')?.hasError('pattern')">{{ formErrors.username.pattern }}</mat-error>
        <mat-error *ngIf="simpleForm.get('username')?.hasError('minlength')">{{ formErrors.username.minLength
          }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="simpleForm.get('email')?.hasError('required')">Se requiere un correo electronico</mat-error>
        <mat-error *ngIf="simpleForm.get('email')?.hasError('email')">{{ formErrors.email?.email }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="simpleForm.get('password')?.hasError('required')">Se requiere una contraseña</mat-error>
        <mat-error *ngIf="simpleForm.get('password')?.hasError('minlength')">{{ formErrors['password'].minLength
          }}</mat-error>
        <mat-error *ngIf="simpleForm.get('password')?.hasError('pattern')">{{ formErrors['password'].pattern
          }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <mat-error *ngIf="simpleForm.get('confirmPassword')?.hasError('passwordMismatch')">{{
          formErrors['confirmPassword'].passwordMismatch }}</mat-error>
      </mat-form-field>
      <button [disabled]="simpleForm.pristine || simpleForm.invalid" [tabindex]="'0'" mat-raised-button color="primary"
        type="submit">Crear</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>



<!--c-col> 
  <c-card style="margin-bottom: 1%;">
    <c-nav xs="12" layout="justified" variant="pills">
      <c-nav-item>
        <span [active]="true" cNavLink>
          ADMINISTRADORES
        </span>
      </c-nav-item>
    </c-nav>
  </c-card>
</c-col-->


<app-table-administrador></app-table-administrador>