<c-col> <!--Input de crear Cuenta de asambleistas-->
    <c-card style="margin-bottom: 1%;">
      <c-nav xs="12" layout="justified" variant="pills">
        <c-nav-item>
          <span [active]="true" cNavLink>
            ADMINISTRADORES
          </span>
        </c-nav-item>
      </c-nav>
    </c-card>
  </c-col>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Crear Cuenta Administrador</strong>
      </c-card-header>
      <c-card-body>
        <form #customStylesForm="ngForm" (ngSubmit)="onSubmit2()" [validated]="customStylesValidated2" cForm
          class="row g-3 needs-validation">
          <!--Form Cuenta Asistente-->
          <c-col md="6">
            <label cLabel for="usuarioValidiacion">Usuario</label>
            <input [(ngModel)]="usuarioAdmin" name="usuarioValidiacion" cFormControl
              id="usuarioValidiacion" required type="text" value="" />
            <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
            <c-form-feedback [valid]="false">Por favor, ingrese nombres</c-form-feedback>
          </c-col>
          <c-col md="6">
            <label cLabel for="correoAdminValidation">Correo electrónico</label>
            <input [(ngModel)]="correoAdmin" name="correoAdminValidation" cFormControl id="correoAdminValidation"
              required type="email" placeholder="name@example.com" />
            <c-form-feedback [valid]="false">Por favor, ingrese un correo electrónico</c-form-feedback>
            <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
          </c-col>
          <c-col md="6">
            <label cLabel for="contrasenaAdminValidation">Contraseña</label>
            <c-input-group class="has-validation">
              <input [(ngModel)]="contrasenaAdmin" name="contrasenaAdminValidation" aria-describedby="inputGroupPrepend"
                cFormControl id="contrasenaAdminValidation" required [type]="iconEyeAsistente" />
              <ng-template #Eyeslashfill>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                  <path
                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                </svg>
              </ng-template>
              <span (click)="cambiarIconAsis()" cInputGroupText id="inputGroupPrepend">
                <svg *ngIf="iconEyeAsistente == 'password' else Eyeslashfill" xmlns="http://www.w3.org/2000/svg"
                  width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
              </span>
              <c-form-feedback [valid]="false">Por favor, ingrese una contraseña</c-form-feedback>
              <c-form-feedback [valid]="true">¡Se ve bien!</c-form-feedback>
            </c-input-group>
          </c-col>
  
          <!--Botones-->
          <c-col xs="12">
            <button (click)="crearCuentaAdmin()" cButton class="me-1" color="success" type="submit">
              Aceptar
            </button>
          </c-col>
        </form>
      </c-card-body>
  
    </c-card>
  
  </c-col>
  
  <app-table-administrador></app-table-administrador>