<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="tolbar1">
    <div class="header-content">
      <img src="../../assets/imgs/logo_arriba.svg" alt="">
    </div>
  </ion-toolbar> 

  <div class="contenedor-superpuesto">
    <ion-toolbar class="tolbar2">
      <div class="cuadrado-con-texto ">
        <p>ENVÍA TU PREGUNTA</p>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-card-content class="content">
    <p style="text-align: center;">¿Quieres plantar una duda y que un responsable de la RC5 te responda? Envía tu
      pregunta
      al <b>Buzón de RC5</b> a través del formulario que encontrarás en esta página y sigue las instrucciones del correo
      electrónico que recibirás.
    </p>
  </ion-card-content>

  <ion-card-content class="content">
    <p style="text-align: center; font-style: italic;">Rellena este formulario y un responsable de RC5 te responderá</p>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate style="margin-top: 10%; height: 650px !important;" >
      
        <ion-label  position="stacked">Nombre<span class="is-required">*</span></ion-label>
        <ion-input formControlName="Nombre" style="background-color: white; margin-top: 4%;  margin-bottom: 4%;" placeholder=" "></ion-input>
        <ion-note *ngIf="ionicForm.get('Nombre').invalid && ionicForm.get('Nombre').touched">Por favor ingresa tu nombre. <br></ion-note>
        <ion-label position="stacked">Apellidos<span class="is-required">*</span></ion-label>
        <ion-input formControlName="Apellidos" style="background-color: white; margin-top: 4%; margin-bottom: 4%;" placeholder=" "></ion-input>
        <ion-note *ngIf="ionicForm.get('Apellidos').invalid && ionicForm.get('Apellidos').touched">Por favor ingresa tu apellido. <br></ion-note>
        <ion-label position="stacked">Email<span class="is-required">*</span></ion-label>
        <ion-input formControlName="Email" type="email" style="background-color: white; margin-top: 4%;  margin-bottom: 4%;" placeholder=" "></ion-input>
        <ion-note *ngIf="ionicForm.get('Email').invalid && ionicForm.get('Email').touched">Por favor ingresa tu Email. <br></ion-note>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input formControlName="Telefono" type="number" style="background-color: white; margin-top: 4%;  margin-bottom: 4%;" placeholder=" "></ion-input>
        <ion-label position="stacked">Agrupación (si eres militante)</ion-label>
        <ion-input formControlName="Agrupacion" style="background-color: white; margin-top: 4%;  margin-bottom: 4%;" placeholder=" "></ion-input>
        <ion-label position="stacked">Consulta</ion-label>
        <ion-textarea formControlName="Consulta" style="background-color: white; margin-top: 4%;  margin-bottom: 4%;" placeholder=" "></ion-textarea>
        <ion-button type="submit">
          ENVIAR
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
    </form>
  </ion-card-content>
</ion-content>

<div class="container">
  <div (click)="abrirMenu()" class="left-square square">
    <i class="fas fa-list" style="font-size: 30px;color:#003365"></i>
  </div>
  <div [routerLink]="['../iniciov2']" class="circle">
    <i class="fas fa-home" style="font-size: 50px;color:#003365"></i>
  </div>
  <div [routerLink]="['../opc-inicv2']" class="right-square square">
    <i class="fas fa-reply" style="font-size: 30px;color:#003365"></i>
  </div>
  <img class="footer-img" src="../../assets/imgs/footer_curve.png" alt="">
</div>