.title {
    --color: white;
    size: large;
    text-align: center;
    font-family: "Gotham-Bold";
}

.titleNotify {
    word-break: break-word;
}

.subtitleNotify {
    word-break: break-word;
}

.ion-icon-container {
    position: relative;
}

.ion-icon-container ion-icon {
    position: absolute;
    right: 0;
}

.NotifyDescrip {
    font-family: "Gotham-Book";
    margin-top: 3%;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.NotifyDescrip {
    color: #666666;
}

.NotifyTitle {
    font-family: "Gotham-Medium";
    font-size: 2.4vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sinRegis{
    font-size: 18px;
    text-align: center;
    font-family: "Gotham-Bold";
  }