.title {
    --color: white;
    size: large;
    text-align: center;
    font-family: "Gotham-Bold";
}

.titleNotify {
    word-break: break-word;
}

.subtitleNotify {
    word-break: break-word;
}

.ion-icon-container {
    position: relative;
}

.ion-icon-container ion-icon {
    position: absolute;
    right: 0;
}